* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-family: 'Red Hat Display', sans-serif;
}


.contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 12vh 55vw 3vw 40vw 44vw 6vh;
}

main {
    grid-column: 1/3;
    grid-row: 1/2;
}

header {
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 100;
    background-color: white;
    border-bottom: 1.5vh solid #e6cbec;
    font-family: 'Red Hat Display', sans-serif;
    box-shadow: 0 5px 10px -5px #000000;
}

.firstsec {
    grid-column: 1/3;
    grid-row: 3/4;
    background-image: linear-gradient(to right, #f8f0fa, white, white);
    text-align: left;
}

.sig {
    grid-column: 1/3;
    grid-row: 4/5;
    background-image: linear-gradient(to right, #f8f0fa, white, white);
    z-index: 9;
}

.secondsec1 {
    grid-column: 1/2;
    grid-row: 5/6;
    position: relative;
    font-family: 'Caveat', cursive;
    background-image: linear-gradient(to right, #f8f0fa, white);
}

.secondsec2 {
    grid-column: 2/3;
    grid-row: 5/6;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

.contactus {
    grid-column: 1/3;
    grid-row: 6/7;
    position: relative;
    padding-top: 5vw;
    font-family: 'Caveat', cursive;
    background-image: linear-gradient(to right, #f8f0fa, white, white);
}

footer {
    grid-column: 1/3;
    grid-row: 7/8;
    background-color: black;
    border-top: solid #e6cbec 1vh;
}

/*main*/
main img {
    width: 100% !important;
    max-height: 87.5vh !important;
    object-fit: contain;
}

.container-fluid {
    padding: 0;
}

.one {
    background-image: linear-gradient(to right, #e2c6c6a6, #aad6e7a6);
}

.two {
    background-image: linear-gradient(#f6ba4cbf, #afb8c7bf);
}

.three {
    background-image: linear-gradient(to right, #b0d9e0a6, white, #b0d9e0a6);
}

.four {
    background-image: linear-gradient(#f0b5cbb3, #cfd7fcb3);
}

.spacefilter {
    height: 0.5vh;
    background-color: white;
}

/*header*/
.flexbox1 {
    display: flex;
    padding: 0 5vw !important;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    font-size: 2.3vw;
    margin-right: 5vw;
    color: #d4a6df;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
    color: #d4a6df;
    opacity: 0.5;
}


.item {
    font-size: 1.8vw;
    font-weight: bold;
    color: black !important;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}


.underline {
    color: black !important;
}

.item a:hover {
    text-decoration: underline wavy #ddb9e6 0.35vw !important;
    text-underline-offset: 0.2em;
    color: #d4a6df !important;
}

.contact {
    white-space: nowrap;
}

.contact a {
    color: #d4a6df;
    font-size: 3vw;
    margin: 0.5vw;
}

.contact a:hover {
    text-decoration: none;
    opacity: 0.5;

}

.sticky {
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
}

/*firstsec*/
.wnew {
    margin: 15vh 0 7.5vh 0;
    position: relative;
}

.wnew h3 {
    font-family: "Caveat";
    font-size: 3.5vw;
}

.leftsq {
    height: 3vw;
    width: 3vw;
    background-color: #e6cbec;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 6px 6px #feeeab;
}

.rightsq {
    height: 3vw;
    width: 3vw;
    background-color: #e6cbec;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 6px 6px #feeeab;
}

.threecards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5%;
}

.newproduct {
    background-color: white;
    height: 30vw;
    width: 18vw;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    box-shadow: 10px 10px 5px #feeeab;
    border: #e6cbec 5px solid;
}


.learn a{
    white-space: nowrap;
    background-color: white;
    padding: 2% 8%;
    border: 3px solid #e6cbec;
    border-radius: 8px;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3vw;
    color:black ;
    text-decoration: none;
}

.learn a:hover {
    background-color: #e6cbec;
    cursor: pointer;
    color:black;
    text-decoration: none;
}

.date {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    height: 8vw;
    width: 8vw;
    background-color: white;
    border-radius: 50%;
    border: 5px #e6cbec solid;
    box-shadow: 6px 6px 5px #feeeab;
}

.date p {
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newdes h3 {
    margin-top: 4.3vw;
    font-size: 1.7vw;
    padding:0 2.5vw;
}

.newpic1 {
    height: 50%;
    border-top-left-radius: 15px;
    border-bottom: #e6cbec 5px solid;
    background-image: url(index/new/new1.jpg);
    background-size: cover;
}

.newpic2 {
    height: 50%;
    border-top-left-radius: 15px;
    border-bottom: #e6cbec 5px solid;
    background-image: url(index/new/new2.jpg);
    background-size: cover;
}

.newpic3 {
    height: 50%;
    border-top-left-radius: 15px;
    border-bottom: #e6cbec 5px solid;
    background-image: url(index/new/new3.jpg);
    background-size: cover;
}

.newdes {
    padding: 0 3%;
}

/*sig*/

.signature {
    position: relative;
}

.sig h3 {
    font-family: "Caveat";
    font-size: 3.5vw;
}

/*secondsec 1 */

.pos {
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%, 70%);
    width: 70%;
}

.sell {
    font-family: 'Caveat', cursive;
    font-size: 3vw;
    margin-bottom: 1vw;
}

.menu {

    margin-top: 8.5vh;
    margin-left: 25%;
    margin-bottom: 0;
    width: 50%;
    border-bottom: 2px solid #e6cbec;
}

.menu h1 {
    font-size: 3vw;
}

.menu h4 {
    font-size: 1.5vw;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3vh;

}

.c {
    display: inline-block;
    height: 3vh;
    width: 3vh;
    margin-right: 1.5vw;
    border-radius: 50%;
    background-color: #fddf5f;
}

.b {
    text-align: left;
    font-size: 1.5vw;
}

.drink h3 {
    font-size: 2vw;
}

.dessert h3 {
    font-size: 2vw;
}

/*secondsec 2*/
.square {

    height: 30vw;
    width: 30vw;
    max-height: 80vh;

    position: absolute;
    top: 53%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.square p {
    color: rgba(255, 255, 255, 0);
    font-size: 2vw;
    font-weight: bold;
    height: 100%;
    width: 100%;
    padding-top: 30% ;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.in1 {
    border-right: 1vw rgb(255, 255, 255) solid;
    border-bottom: 1vw rgb(255, 255, 255) solid;
    background-image: url(index/new/classic1.jpg);
    background-size: cover;
    cursor: pointer;
}

.in:hover p {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
}


.in2 {
    border-left: 1vw rgb(255, 255, 255) solid;
    border-bottom: 1vw rgb(255, 255, 255) solid;
    background-image: url(index/new/classic2.jpg);
    background-size: cover;

    cursor: pointer;
}




.in3 {
    border-right: 1vw white solid;
    border-top: 1vw white solid;
    background-image: url(index/new/classic3.jpg);
    background-size: cover;

    cursor: pointer;
}


.in4 {
    border-left: 1vw white solid;
    border-top: 1vw white solid;
    background-image: url(index/new/classic4.jpg);
    background-size: cover;


    cursor: pointer;
}



.circle {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 10vw;
    width: 10vw;
    background-color: white;
    border-radius: 50%;

}

.circle p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
}

/*contact*/
.form {
    margin: 2.5vw 15% 2.5vw 15%;
    border-radius: 10px;
    padding: 2vw 25px 3.5vw 25px;
    background-color: #e6cbec;
}

.form h3 {
    font-size: 2vw;
}

.us {
    font-family: 'Caveat', cursive;
    font-size: 3.5vw;
}

.halfleft {
    width: 50%;
}

.halfright {
    width: 50%;
}

.form button {
    width: 90%;
    height: 3.5vw;
    border-style: none;
    border-radius: 6px;
    margin: 1vw 0 0 0;
    background-color: white;
}

.form button:hover {
    background-color: #feeeab;
}

.wraper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vw;
}


.halfleft input {
    height: 3.5vw;
    width: 80%;
    margin: 0.5vw;
    border-radius: 10px;
    background-color: white;
    border: 3px solid #e6cbec;
}

.halfleft input:hover {
    border: #feeeab 3px solid;
}

textarea {
    height: 13.5vw;
    border-radius: 10px;
    width: 80%;
    margin-top: 1vh;
    text-align: center;
    border: 3px solid #e6cbec;
}

textarea:hover {
    border: 3px solid #feeeab;
}

/*footer*/


footer p {
    color: white;
}



@media screen and (max-width: 1024px) {


    .contain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 10vh 103vw 3vw 48vw 47vw 6vh;
    }

    .logo {
        font-size: 2.5vw;
        color: #d4a6df;
        font-weight: bold;
    }

    .item {
        font-size: 2vw;
        font-weight: bold;
        color: black;
    }

    .contact a {
        color: #d4a6df;
        font-size: 3.3vw;
        margin: 0.5vw;
    }

    .wnew {
        margin: 10vh 0 3vh 0;
        position: relative;
    }

    .form {
        margin: 4vw 15% 2.5vw 15%;
        border-radius: 10px;
        padding: 2vw 25px;
        background-color: #e6cbec;
    }

    .leftsq {
        height: 3vw;
        width: 3vw;
        background-color: #e6cbec;
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 4.5px 4.5px #feeeab;
    }

    .rightsq {
        height: 3vw;
        width: 3vw;
        background-color: #e6cbec;
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 4.5px 4.5px #feeeab;
    }


    .threecards {
        padding: 0 10%;
    }

    .newproduct {
        margin: 3vw 8vw;
        height: 35vw;
        width: 21vw;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        box-shadow: 5px 5px 3px #feeeab;
        border: #e6cbec 3px solid;
    }

    .date {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        height: 10vw;
        width: 10vw;
        background-color: white;
        border-radius: 50%;
        border: 3px #e6cbec solid;
        box-shadow: 5px 5px 2px #feeeab;
    }

    .date p {
        font-size: 1.8vw;
    }

    .newdes h3 {
        margin-top: 5.5vw;
        font-size: 2vw;
        padding:0 2.3vw;
    }

    .newpic1 {
        height: 50%;
        border-top-left-radius: 15px;
        border-bottom: #e6cbec 3px solid;

    }

    .newpic2 {
        height: 50%;
        border-top-left-radius: 15px;
        border-bottom: #e6cbec 3px solid;

    }

    .newpic3 {
        height: 50%;
        border-top-left-radius: 15px;
        border-bottom: #e6cbec 3px solid;

    }

    .square {

        height: 33vw;
        width: 33vw;
    }

    .top {
        margin-top: 2vh;
    }

    .menu {
        margin-bottom: 0;
        margin-top: 7.5vw;
    }

    .dessert {
        line-height: 2vw;
    }

    .drink {
        line-height: 2vw;
    }
}

@media screen and (max-width: 768px) {


    .contain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 238vw 4vw 75vw 70vw 70vw 6vh;
    }

    main {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    header {
        grid-column: 1/2;
        grid-row: 2/3;
        z-index: 10;
        border-bottom: 1.5vh solid #e6cbec;
        font-family: 'Red Hat Display', sans-serif;
    }

    .firstsec {
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: linear-gradient(white, #f8f0fa);
        text-align: left;
    }

    .sig {
        grid-column: 1/2;
        grid-row: 4/5;
        background-image: linear-gradient(#f8f0fa, #f8f0fa);
    }


    .secondsec1 {
        grid-column: 1/2;
        grid-row: 5/6;
        position: relative;
        font-family: 'Caveat', cursive;
        background-image: linear-gradient(#f8f0fa, white);
    }

    .secondsec2 {
        grid-column: 1/2;
        grid-row: 6/7;
        position: relative;
        background-image: rgba(255, 255, 255, 0);
    }

    .contactus {
        grid-column: 1/2;
        grid-row: 7/8;
        background-color: white;
        position: relative;
        padding-top: 5vw;
        font-family: 'Caveat', cursive;
        background-image: linear-gradient(white, #f8f0fa);
    }

    footer {
        grid-column: 1/2;
        grid-row: 8/9;
        background-color: black;
        border-top: solid #e6cbec 1vh;
    }

    .newproduct {
        margin: 3vw 8vw;
        height: 60vw;
        width: 36vw;
        box-shadow: 3px 3px 1px #feeeab;

    }

    .wnew h3 {
        font-size: 7.5vw;
    }

    .leftsq {
        height: 5vw;
        width: 5vw;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 3px 3px #feeeab;
    }

    .rightsq {
        height: 5vw;
        width: 5vw;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 3px 3px #feeeab;
    }

    .date {
        border: 3px #e6cbec solid;
        box-shadow: 3px 3px 2px #feeeab;
        height: 15vw;
        width: 15vw;
    }

    .date p {
        font-size: 2.5vw;
    }

    .sig h3 {
        font-family: "Caveat";
        font-size: 7.5vw;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3vh;

    }

    .learn a{

        font-size: 2.5vw;
    }

  

    .menu h1 {
        font-size: 5vw;
    }

    .menu h4 {
        font-size: 3vw;
    }

    .b {

        font-size: 3vw;
    }

    .drink h3 {
        font-size: 4vw;
    }

    .dessert h3 {
        font-size: 4vw;
    }

    .sell {
        font-size: 5vw;

    }

    .dessert {
        line-height: 4vw;
    }

    .drink {
        line-height: 4vw;
    }

    .square {

        height: 55vw;
        width: 55vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form {
        margin: 5vw 15% 2.5vw 15%;
        border-radius: 10px;
        padding: 3vw 25px 5vw 25px;
        background-color: #e6cbec;
    }

    .form h3 {
        font-size: 3vw;
    }

    .us {
        font-family: 'Caveat', cursive;
        font-size: 7.5vw;
    }



    .halfleft input {
        height: 5vw;
        width: 80%;
        margin: 0.5vw;

    }

    .halfleft input:hover {
        border: #feeeab 3px solid;
    }

    textarea {
        height: 19vw;
    }


    .form button {
        width: 90%;
        height: 5vw;
        border-style: none;
        border-radius: 6px;
        margin: 0.5vw 0 0 0;
        background-color: white;
    }

    .wraper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1vw;
    }

    .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 15vw;
        width: 15vw;
    }

    .circle p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5vw;
    }


    .navbar {
        width: 60%;
    }

    .navbar-nav {
        display: flex;
        width: 150%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contact {
        position: absolute;
        top: 2vh;
        left: 73%;
    }

    .logo {
        font-size: 4vw;
    }

    .item {
        font-size: 3vw;
    }

    .underline {
        text-decoration-thickness: 0.7vw;
    }

    .item a:hover {
        text-decoration: underline wavy #ddb9e6 0.55vw !important;

    }

    .contact a {
        font-size: 3.5vw;
    }

    .newdes h3 {
        margin-top: 8vw;
        font-size: 3.8vw;
        padding:0 2.3vw;
    }
    .square p {
       
        font-size: 3.5vw;
        
    }
    
}